:root {
  --left-shaft-width: 64px;
  --arrow-width: 8px;

  scrollbar-width: none;

  font-family: Apple Garamond;
  font-size: small;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#app {
  height: 100dvh;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

main {
  display: block;
  width: 100dvw;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}
